  
@import url('./variable.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

header .container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 1000;
    background-color: var(--color-white);
}

.logo, .location, .search-bar, .login, .cart{
    padding: 0px 25px ;
}


.logo svg{
    width: 100%;
    height: 20px;
    
}
.location .location-title{
    font-size: 13px;
    font-weight: var(--fw-800);
    margin-bottom: 3px;
    letter-spacing: 0.9px;
}

.location .location-desc{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.location-desc .fa-caret-down{
    transform: translate(-2px);
    padding-left: 5px;
}

.search-bar {
     width: 100%;
     border: 1px solid rgba(0, 0, 0, 0.04);
     border-radius: 5px;
     background:var(--color-grey2);
     color: var(--color-grey);
     height: 38px;
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 20px;


}

.search-bar input{
     border: 0;
     outline: 0;
     background-color: transparent;
     font-size: 12px;
     font-weight: 100;
     width: 100%;
}

.search-input{
    width: 100%;
}

.search-bar .fa-magnifying-glas{
    width: 13px;
    color: var(--color-black);
}

.login .profile{
    text-align: center;
    text-decoration: none!important;
    font-size: 18px;
    color: var(--color-grey);
}

.login a{
    text-decoration: none;
    color: var(--color-grey);
}

.login .profile-svg a{
    display: none;
}
.cart{
    width:185px;
}
.cart button{
    padding: 12px;
    color: var(--color-white);
    background-color:var( --color-green);
    border-radius: 5px;
    font-size: 13px;
    font-weight: var(--fw-700);
    border: none;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 68px;

}

.main-container{
    max-width: 1120px;
}

.banner img{
    width: 100%;
}

.banner2{
    display: flex;
    gap: 20px;
    overflow: auto hidden;
    margin: 0 12px;

}
.banner2::-webkit-scrollbar, .items::-webkit-scrollbar{
    display: none;
}

.banner2 .banner-img img{
    height: 165px;
    width: 285px;

}

.category{

    display: grid;
    grid-template-columns: repeat(10, 10%);

}

.section-3-img img{
    width: 100%;
}

.items, .items-2{
    display: flex;
    flex-direction: column;
    margin:14px;
    row-gap: 20px;
}

.items .title, .items-2 .title{
    display: flex;
    justify-content: space-between;
}

.title .category-name{
    font-weight: var(--fw-700);
}

.title a{
    color: var(--color-green);
    text-decoration: none;
}

.list-items{
    display: flex;
    column-gap: 22px;
}

.items .list-items, .items-2 .list-items{
    display: -webkit-inline-box;
    column-gap: 42px;
    justify-content: center;
    padding-left: 62%;
    overflow: scroll;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 999;
    padding: 20px 0;
}

.items-2 .list-items{
    display: -webkit-inline-box;
}

.list-items::-webkit-scrollbar{
    display: none;
}

.item{
    flex: 1 1 auto;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
    min-width: 179px;
    max-width: 179px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    z-index: 999;
}

.item .item-img img{
    width: 100%;
}

.item-details{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.item-details .timer{
    font-size: 7px;
    font-weight: bolder;
    background-color: var(--color-grey-2);
    width: 36%;
    padding: 3px;
}

.item-details .item-name{
    font-size: 12px;
    font-weight: 800;
}

.item-details .item-weight{
    font-size: 10px;
    color: var(--color-grey);
}

.item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price .price{
    font-size: 10px;
    font-weight: var(--fw-800);
}

.item-price button{
    font-size: 10px;
    font-weight: var(--fw-800);
    text-transform: uppercase;
    padding: 3px 9px;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 3px;
    background-color: var(--color-lightest-green);

}


footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 90px;
    text-align: center;
    background-color: var(--color-gray2);
}

.fa-heart{
    color: red;
    margin: 0px 2px;
}




@media screen and (min-width:320px) and (max-width:1020px){
    body{
        width: 100%;
    }
    .logo, .login .profile, .cart{
        display: none;
    }
    .login .profile-svg a{
        display: flex;
        width: 100%;
        margin-top: 20px;
        
    
    }
    .container{
        display: flex;
       flex-direction: column;
       flex-direction: row;
    width: 100% !important;
    height: 70px !important;
    padding-bottom: 91px;
    
    }
    .wrapper{
         min-height: 100vh;
         margin-top: 4%;
    }
    .main-container{
        width: 100% !important;
    }
    .banner img{
      display: none;
    }
    .banner img{
        width:100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-2 img{
        width: 100%;
        overflow: auto;
        height: 100% !important;
    }
    .item{
        min-width: 45% !important;
        
    }
    .list-items{
        width: 98%;
        padding-left: 0px;
        justify-content: flex-start;
        margin-left: 10px;
    }
    .item img{
        width: 98%;
        height: 98%;
    }
    .location p{
        text-align: start;
    }
    .search-input{
        height: 48px;
        display: flex;
    }
    .search-bar{
        width: 73%;
        margin-left: -28px;
        margin-top: 20px;
    }
    .location{
        width: 50%;
        margin-left: 5px;
        margin-top: 23px;
    }
    .container{
        align-items: start !important;
        gap: 10px;
    }
    .wrapper{
        top:0px;
        justify-content: start;
    }
    header{
        height: 112px;
    }
    .banner{
    display: flex;
    justify-content: center;
    left: 0px;
    
    }
    .category{
        display: grid;
        grid-template-columns: repeat(4,25%);
        width: 100%;
        left: 0px;
    }
    .banner-2{
        margin-left: 7px;
    }
    .category-name{
        font-size: 17px;
        margin-left: 10px;
    }
    .title a{
        margin-right: 10px;
        font-size: 17px;
    }
    
    footer{
        position: static;
    }
    .profile{
    display: inline;
     position: absolute;
    right: 0px;
    margin-top: 16px;
    margin-right: 16px;
    }
}


